.places__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  margin: 0 0 26px;
}

.places__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 984px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 568px) {
  .places__paragraph {
    padding: 0 16px;
  }
}
