.footer__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 568px) {
  .footer__links {
    flex-direction: column;
  }
}
