.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 16px auto 32px;
  max-width: 640px;
  text-align: center;
}

@media screen and (max-width:1124px) {
  .lead__subtitle {
    margin: 16px auto 28px;
  }
}


@media screen and (max-width: 568px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 8px auto 0;
    max-width: 288px;
  }
}
