.footer {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 48px;
  box-sizing: border-box;
  max-width: 1184px;
  margin: 0 auto;
  flex-wrap: wrap;
}

@media screen and (max-width: 984px) {
  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .footer {
    flex-direction: column;
    padding: 0 16px;
  }
}
